<div class="m-player">
  <div class="lock">
    <div class="left">
      <em></em>
    </div>
    <div class="hand"></div>
    <div class="container">
      <div class="wrap">
        <div class="btns">
          <i class="prev"></i>
          <i class="toggle"></i>
          <i class="next"></i>
        </div>
        <div class="head">
          <img src="">
          <em class="mask"></em>
        </div>
         <div class="play">
          <div class="words clearfix">
            <p class="ellipsis">歌名</p>
            <ul>
              <li>
                <a href="">歌手1</a>
              </li>
              <li>
                <a href="">歌手2</a>
              </li>
            </ul>
          </div>
          <div class="bar">
            <div class="slider-wrap">
              <div>进度条</div>
            </div>
            <span class="time">
              <em>02:11</em> / 04:35
            </span>
          </div>
         </div>

         <div class="oper">
          <em class="like" title="收藏"></em>
          <em class="share" title="分享"></em>
         </div>

         
         <div class="ctrl                                       ">
          <em class="like" title="收藏"></em>
          <em class="share" title="分享"></em>
         </div>

      </div>
    </div>
  </div>
</div>