<div class="home">
    <app-wy-carousel #wyCarousel [activeIndex]="carouselActiveIndex" (changeSilde)="onChangeSilde($event)">
        <nz-carousel nzAutoPlay nzEffect="fade" [nzDotRender]="wyCarousel.dotRef"
            (nzBeforeChange)="onNzBeforeChange($event)">
            <div class="carousel-item" nz-carousel-content *ngFor="let item of banners">
                <a [href]="item.url" target="_blank" class="banner-item">
                    <img appImgDefault [src]="item.imageUrl" />
                </a>
            </div>
        </nz-carousel>
    </app-wy-carousel>

    <div class="main">
        <div class="wrap">
            <div class="left">
                <div class="sec">

                    <div class="up">
                        <div class="navs">
                            <h2>
                                <i></i>
                                <a href="">热门推荐</a>
                            </h2>
                            <nav>
                                <a href="" *ngFor="let item of hotTags">{{item.name}}</a>
                            </nav>
                        </div>
                        <a href="">
                            更多
                            <em nz-icon nzType="arrow-right" theme="outline"></em>
                        </a>
                    </div>

                    <div class="down">
                        <div class="down-wrap">
                            <app-single-sheet></app-single-sheet>
                        </div>
                    </div>

                </div>
            </div>
            <div class="right">right</div>
        </div>
    </div>
</div>